:root{
    --primaryColor:#0C121C;
    --navbarColor:#151c2d;
    --secondaryColor:#7148FC;
    --headingFontColor:#FFFFFF;
    --normalTextColor:#FFFFFF;
    --buttonColor:#D6DEE7;
    --buttonHoverColor:#94adca;
    --borderColor:#B8BFC6;
    --headingFontSize:10;
    --normalFontSize:10;
    --fontFamilyOne:'Montserrat', sans-serif;
    --fontFamilyTwo:'Open Sans', sans-serif;;
}
body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    box-sizing: border-box; 
    background-color: var(--primaryColor);  
}

.nav_bar{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    background-color: var(--navbarColor);
}
.menu_items{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
.brand-name{
    color: var(--headingFontColor);
    font-family: var(--fontFamilyOne);
}
.menu-item{
    color: var(--normalTextColor);
    font-family: var(--fontFamilyTwo);
}
/* Nav Bar */
.inputfield{
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
    width: 350px;
    border: solid 1px var(--secondaryColor);
    background-color: transparent;
    color: var(--normalTextColor);
}
.todobar_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addtodos{
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
    width: 350px;
    border: solid 1px var(--secondaryColor);
    background-color: transparent;
    color: var(--normalTextColor);
}
.addtodo_btn,
.clearall_btn,
.all_btn, 
.pending_btn ,
.completed_btn{
    margin: 5px;
    width: auto;
    padding: 10px;
    border-radius: 15px;
    border: solid 1px var(--secondaryColor);
    background-color: transparent;
    color: var(--normalTextColor);
    cursor: pointer;
}
.filters{
    display: flex;
    justify-content: space-evenly;
    color: var(--normalTextColor);
    width: 100%;
}
.addtodo_btn:hover{
    background-color: var(--secondaryColor);
    animation: ease-in-out 2s ;
}
.clearall_btn:hover{
    background-color: var(--secondaryColor);
    animation: ease-in-out 2s ;
}
.active{
    background-color: var(--secondaryColor);
    
}
.sidebar_container{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.todo_list{
    display: flex;
    align-items: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}
.todos{
    display: flex;
    align-items: center;
    margin: 20px;
    background-color: var(--navbarColor);
    width: 50%;
    height: 5vh;
    border-radius: 20px solid;
    padding-inline-start: 20px;
    color: var(--normalTextColor);
    border-left:2px solid var(--secondaryColor) ;
    padding: 20px;
}
/* More Btn */
.morebtn{
    margin: 5px;
    width: 50px;
    padding: 10px;
    border-radius: 15px;
    border: solid 1px var(--secondaryColor);
    background-color: transparent;
    color: var(--normalTextColor);
    cursor: pointer;
}
.morebtn:hover{
background-color: var(--secondaryColor);
animation: ease-in-out 2s ;
}
.todos{
    display: flex;
    justify-content: space-between;
}
