:root{
    --primaryColor:#0C121C;
    --navbarColor:#151c2d;
    --secondaryColor:#7148FC;
    --headingFontColor:#FFFFFF;
    --normalTextColor:#FFFFFF;
    --buttonColor:#D6DEE7;
    --buttonHoverColor:#94adca;
    --borderColor:#B8BFC6;
    --headingFontSize:10;
    --normalFontSize:10;
    --fontFamilyOne:'Montserrat', sans-serif;
    --fontFamilyTwo:'Open Sans', sans-serif;;
}
body{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    box-sizing: border-box; 
    background-color: var(--primaryColor);  
}

.nav_bar{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    background-color: var(--navbarColor);
}
.menu_items{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
.brand-name{
    color: var(--headingFontColor);
    font-family: var(--fontFamilyOne);
}
.menu-item{
    color: var(--normalTextColor);
    font-family: var(--fontFamilyTwo);
}
/* Nav Bar */
.inputfield{
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
    width: 350px;
    border: solid 1px var(--secondaryColor);
    background-color: transparent;
    color: var(--normalTextColor);
}
.sidebar_container{
    display: flex;
}
.addtodos{
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
    width: 250px;
    border: solid 1px var(--secondaryColor);
    background-color: transparent;
    color: var(--normalTextColor);
}
.addtodo_btn{
    margin: 5px;
    width: 100px;
    padding: 10px;
    border-radius: 15px;
    border: solid 1px var(--secondaryColor);
    background-color: transparent;
    color: var(--normalTextColor);
    cursor: pointer;
}
.addtodo_btn:hover{
    background-color: var(--secondaryColor);
    animation: ease-in-out 2s ;
}
.sidebar_container{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.todo_list{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navbarColor);
    height: 70vh;
    width: 100%;
}